*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --whitwcolor : #000;
}
a{
    color: black;
}

@font-face {
    font-family: "Poppise";
    src: url("./font/Nunit.ttf") format(truetype);}
    
body{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:right;
    background-image: url(./Img/photo13991495646\ \(2\).jpg) ;
    padding-top: 20px;
    font-family:Poppise;
    backdrop-filter: blur(20px);

}
a,input,button{
    font-family: inherit;
}

.armdev{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height:20px;
    transition: all 1s ease;

}
.dev1{
    left: 0px;
    top: 20px; 
    background: white;
    border-radius: 0 0 0 100%;
}
.dev2{
    left: 0px;
    top: 0px; 
    background: #1b87ca;
    border-radius:100% 0 0 0 ;
}
.dev3{
    left: 20px;
    top: 0px; 
    background: white;
    border-radius: 0 100% 0 0;
}
.dev4{
    left: 20px;
    top: 20px; 
    background: #1b87ca;
    border-radius: 0 0 100% 0 ;
}
.devmenu{
    animation: desighn 20s infinite;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
    position: relative;
    width: 42px;
    height: 42px;
}
.devmenu:hover{
    animation:  20s infinite;

}

.tel{
    transition: all 1s ease;
    display: none;
    margin-top: 5px;
    margin-left: 1px;
    width: 20px;
    height: 20px;
}
.google{
    transition: all 1s ease;
    width: 18px;
    height: 18px;
    margin-top: 7px;
    margin-left: 7px;
    display: none;
}
.twitter{
    transition: all 1s ease;
    width: 20px;
    height: 20px ;
    margin-top: 1px;
    margin-left: 6px;
    display: none;
}
.bluetooth{
    transition: all 1s linear;
    width: 18px;
    height: 18px;
    margin-top: 1px;
    margin-left: 1px;
    display: none;
}



.dev1:hover{
    left: -7px;
    top: 20px; 
    width: 27px;
    height:27px;
}
.dev2:hover{
    left: -7px;
    top: -7px; 
    width: 27px;
    height:27px;
}
.dev3:hover{
    left: 20px;
    top: -7px; 
    width: 27px;
    height:27px;
}
.dev4:hover{
    left: 20px;
    top: 20px; 
    width: 27px;
    height:27px;
}
.dev1:hover .twitter{
display: block;
}
.dev2:hover .google{
    display: block;
}
.dev3:hover .tel{
    display: block;
}
.dev4:hover .bluetooth{
    display: block;
}
.header{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    gap: 1090px;
    font-size: 20px;
}


.wrapper {
  display: grid;
  place-content: center;
  height:229px ;
  width: 500px;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 18vw, 15rem);
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  margin-bottom: 150px;
}

.wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 49%, 0% 58%);
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, white 65%);
    background: linear-gradient(177deg, black 53%, white 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
}

.title{
    font-size: 87px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 150px;
    gap: 12px;
    color: var(--whitwcolor);
    text-shadow: 0 0 14px white;
    display: flex;

}
.B{
    animation: title 3s linear infinite;
    font-weight: bold;
}
.M{
    animation: title 3s linear 3s infinite;
    font-weight: bold;

}
.W{
    animation: title 3s linear 6s  infinite;
    font-weight: bold;
    
}

.login{
    color: var(--whitwcolor);

}
.login:hover{
    color: red;
}


.about{
    margin-bottom: 30px;
    display: flex;
    align-items: end;
    justify-content: end;


}
.text{
    border-radius: 10px 0px 0px 10px;
    color: var(--whitwcolor);
    margin-left: 100px;
    padding: 20px;
    background-color: #80808038;
    backdrop-filter: blur(20px);
    text-align: justify;
}
.tower{
    border-radius: 10px 10px 10px 0px;
    width: 310px;
    margin-right:100px ;
    margin-top: -230px;
}
.img{
    width: 1048px;
    transition: all 1s ease;
    margin-top: 10px;
    margin-left: 100px;
}
.inform{
    height: 325px;
    transition: all 2s linear;
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 10px;


}
.change{
    background-image: url(./Img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    width: 540px;
    height: 280px;
    margin: 10px;
    border-radius: 106px 0px 12px 7px;
    position: absolute;
    left: 10px;
    
    
    -webkit-text-fill-color: transparent;
    -webkit-box-reflect: below 2px linear-gradient(transparent 181px,black);
}
.change2{
    animation: change 20s step-start infinite 4s;
}

.divchang{
    position: absolute;
    animation: divchang 4s ease;
    left: 0px;
}
@keyframes divchang {
    0%{        
        left: 560px;}
    100%{
        left: 0px;
    }
}

.a2{
    font-weight: 1000;
    position: absolute;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;


}
#B2{
    font-size: 399px;
    z-index: 5;
    top: -104px;
    left: 560px;
    background-image: url(./Img/stacked-waves-haikei.png);
    -webkit-box-reflect: below -280px linear-gradient(transparent 324px,black);
}

.visible1{
    animation: armchang1 4s ease;

}
.visible2{
    animation: armchang2 4s ease;

}
.visible3{
    animation: armchang3 4s ease;

}
#M2{
    font-size: 199px;
    z-index: 6;
    left: 758px;
    top: 97px;
    background-image: url(./Img/stacked-waves-haikeiblue.png);
    -webkit-box-reflect: below -138px linear-gradient(transparent 115px,black);
}
#W2{
    font-size: 117px;
    z-index: 7;
    top: 180px;
    left: 893px;
    background-image: url(./Img/stacked-waves-haikeired.png);
    -webkit-box-reflect: below -81px linear-gradient(transparent 27px,black);
}

  
@keyframes armchang1 {
    0%{
        left: 0px;

    }
    100%{
        left: 560px;

    }
}
@keyframes armchang2 {
    0%{
        left: 0px;
    }
    50%{
        left: 560px;
    }
    100%{
        left: 758px;
    }
}
@keyframes armchang3 {
    0%{
        left: 0px;
    }
    50%{
        left: 560px;
    }
    100%{
        left: 893px;
    }
}


::-webkit-scrollbar{
    width: 20px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: transparent;

}

.type{
    color: var(--whitwcolor);
    padding:26px 20px 26px ;
    margin-right: 60px;
    font-size: 20px;
    text-align: center;
    background-color: #80808038;
    backdrop-filter: blur(20px);
    border-radius:0px 0px  0px 20px;
    border-left: 2px solid #860000;

}
.information{
    font-size: 20px;
    padding: 20px;
    padding-top: 10px;
    color: var(--whitwcolor);
    background-color: #80808029;
    backdrop-filter: blur(10px);
    border-radius:10px 0px 0px 10px;
    transition: all 2s ease-in-out;
    width: 500px;
    height :340px;
}
.nameshow , .priceshow{
font-size: 23px;
font-weight: bold;
}
.details{
    font-size: 15px;
}

.Description2{
    display: flex;
    margin-bottom: 20px;


}

.box{
    transition: all 2s ease;
    font-size: 26px;
    color: var(--whitwcolor);
    background-color: #80808038;
    backdrop-filter: blur(20px);
    border: 1px solid white;
    border-radius: 20px;
    width: 471px;
    height: 266px;
    padding: 20px;
    padding-top: 15px;
    text-align: center;
    margin-right: 100px;
    overflow: hidden;
    cursor: pointer;
}
.namelogo{
    margin-left: 100px;
}
.logotext{
    font-size: 15px;

}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;

}
.Annual{
    font-size: 15px;
}


.description1{
    display: flex;
    margin-bottom: 20px;
}
.history{
    width: 471px;
    margin-left: 100px;
}

.historytext{
    font-size: 15px;
    margin-top: 20px;   
}

.motorsporttext{
    font-size: 15px;
    margin-top: 20px; 
}
.Motorsport{
    width: 471px;
}


td{
    border: 1px solid white;
}
table{
    font-size: 13px;
    text-align: center;
    width: 100%;
    border-collapse:collapse ;
    border: 1px solid white; 
}
.namelogoicon,.historyicon,.productionicon ,.motorsporticon{
    transition: all 2s ease;
    margin-top: 5px;
}


.footer{
    width: 100%;
    height: 200px;
    z-index: 10;
    position: absolute;
}




.Arm:hover{
    scale: 1.05;
}

@keyframes desighn {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    
    }
    100%{
        transform: rotate(360deg);

    }
    
}
@keyframes title {
    0%{
        color: white;
    }
    50%{
        color: #686868;
    }
    100%{
        color: #000000;
    }
    
}

@keyframes change {
      0%{
        background-image: url(./Img/1.png);
      }
     10%{
        background-image : url(./Img/2.png);
        
    }
    20%{
        background-image : url(./Img/3.png);
     }
     30%{
        background-image : url(./Img/4.png)
     }
     40%{
        background-image : url(./Img/5.png)
     }
     50%{
        background-image : url(./Img/6.png)
     }
     60%{
        background-image : url(./Img/7.png)
     }
     70%{
        background-image : url(./Img/8.png)
     }
     80%{
        background-image : url(./Img/m.png)
     }
     90%{
        background-image : url(./Img/i.png)
     }
    100%{
        background-image : url(./Img/x.png);


    }

}




